{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <ul>
            {% if request.user.colunista %}
                <a class="logout" href="{% url 'plataforma:logout' %}">Logout ({{request.user.username}})</a>
            {% else %}
                <a class="login" href="{% url 'plataforma:login'%}">Login</a>
            {% endif %}
            <p><a class="admin" href= "{% url 'plataforma:homejornal' %}">Pagina principal</a></p>
            <p><a class="admin" href= "{% url 'plataforma:detailedicao' noticia.edicao.id %}">Voltar</a></p>
        </ul>
        <h1 style="font-family:'verdana'">{{ noticia.titulo }}</h1>
        <h4 style="color:rgb(241, 122, 25)" >{{ noticia.texto }}</h4>
        <h4 style="color:rgb(241, 61, 25)" >Colunista autor da noticia: {{ noticia.colunista.user.username }}</h4>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <h2 style="color:rgb(243, 196, 126)">COMENTARIOS:</h2>
        {% if noticia.comentario_set.all%}
            <ul>
            {% for comentario in noticia.comentario_set.all %}
                <li class="comentario">{{ comentario.texto }}. ~ ({{comentario.colunista.user.username}})</li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>Nenhum comentario cadastrado para a noticia: {{noticia.texto}}</h4>
        {% endif %}
        <ul>
            <p><a class="admin" href="{% url 'plataforma:cadastrocomentario' noticia.id %}">Comentar</a></p>
        </ul>
    </div>
</body>
</html>