{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="center">
        {% if request.user.colunista %}
            <p><a class="logout" href="{% url 'plataforma:logout' %}">Logout</a></p>
        {% endif %}
        <ul>
        <p><a class="admin" href= "{% url 'plataforma:homejornal' %}">Pagina principal</a></p>
        <p><a class="admin" href= {% url 'plataforma:detailedicao' noticia.edicao.id %}>Voltar</a></p>
        </ul>
        <h1>{{ noticia.texto }}</h1>
        <h4>Colunista autor da noticia: {{ noticia.colunista.user.username }}</h4>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <h2>Comentarios:</h2>
        <ul>
        {% for comentario in noticia.comentario_set.all %}
            <li>{{ comentario.texto }} - Colunista: {{comentario.colunista.user.username}} </li>
        {% endfor %}
        </ul>
        <ul>
        {% if request.user.colunista %}
            <p><a class="admin" href="{% url 'plataforma:cadastrocomentario' noticia.id %}">Cadastrar novo comentario</a></p>
        {% else %}
            <p><a class="login" href="{% url 'plataforma:login'%}">Faça login para cadastrar um comentario</a></p>
        {% endif %}
        </ul>
    </div>
</body>
</html>