{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <ul>
        {% if request.user.colunista %}
            <a class="logout" href="{% url 'plataforma:logout' %}">Logout</a>
        {% endif %}
            <p><a class="admin" href= "{% url 'plataforma:homejornal' %}">Pagina principal</a></p>
        </ul>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <h1>Edição {{edicao.texto}}</h1>
        <h4>Colunista autor da edição: {{edicao.colunista.user.username}}</h4>
        <h2><strong>Noticias:</strong></h2>
        <ul>
        {% for noticia in edicao.noticia_set.all %}
            <li><a href="{% url 'plataforma:detailnoticia' noticia.id %}">{{ noticia.texto }}</li>
        {% endfor %}
        </ul>
        {% if request.user.colunista %}
            <p><a class="admin" href="{% url 'plataforma:cadastronoticia' edicao.id %}">Cadastrar nova noticia nesta edição</a></p>
        {% else %}
            <a  class="login" href="{% url 'plataforma:login'%}">Faça login para cadastrar uma noticia</a>
        {% endif %}
    </div>

</body>
</html>