{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <ul>
        {% if request.user.colunista %}
            <p><a class="logout" href="{% url 'plataforma:logout' %}">Logout</a></p>
            <p><a class="admin" href="{% url 'plataforma:cadastroedicao' %}">Cadastrar nova edição</a></p>
        {% else %}
            <a class="login" href="{% url 'plataforma:login' %}">Login</a>
        {% endif %}
        </ul>
        <h1>EDIÇÕES:</h1>
        {% if edicao_list %}
            <ul>
            {% for edicao in edicao_list %}
                <li><a href="{% url 'plataforma:detailedicao' edicao.id %}">{{ edicao.texto }}</a></li>
            {% endfor %}
            </ul>
            <h1>NOTICIAS RECENTES:</h1>
            <ul>
            {% for noticia in noticia_list %}
                <li><a href="{% url 'plataforma:detailnoticia' noticia.id %}">{{ noticia.texto }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma edicao disponível</p>
        {% endif %}
        <ul>
        <a class="admin" href="admin/">Admin</a>
        </ul>
    </div>
</body>
</html>