{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <ul>
        {% if request.user.colunista %}
            <a class="logout" href="{% url 'plataforma:logout' %}">Logout ({{request.user.username}})</a>
        {% else %}
            <a class="login" href="{% url 'plataforma:login' %}">Login</a>
        {% endif %}
        <p><a class="admin" href="{% url 'plataforma:cadastroedicao' %}">Cadastrar nova edição</a></p>
        </ul>
        {% if edicao_list %}
            <h1>ULTIMA EDIÇÃO:</h1>
            {% if ultima_edicao %}
                <ul>
                {% for edicao in ultima_edicao %}
                    <li><a style="color:red" href="{% url 'plataforma:detailedicao' edicao.id %}">{{ edicao.texto }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <h1>OUTRAS EDIÇÕES RECENTES:</h1>
            <ul>
            {% for edicao2 in ultima_edicao %}
                {% for edicao in edicao_list %}
                    {% if edicao != edicao2 %}
                    <li><a href="{% url 'plataforma:detailedicao' edicao.id %}">{{ edicao.texto }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
            <h1>NOTICIAS RECENTES:</h1>
            <ul>
            {% for noticia in noticia_list %}
                <li><a class="noticia" href="{% url 'plataforma:detailnoticia' noticia.id %}">{{ noticia.texto }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>Nenhuma edição disponível!</h4>
        {% endif %}
        <ul>
        <a class="admin" href="admin/">Admin</a>
        </ul>
    </div>
</body>
</html>