{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/style.css' %}"/>
{% block title %}Login{% endblock %}
{% block content %}
<body>
    <main>
        <div class="center">
        <p class="admin">Faça login na sua conta</p>
        <form action="{% url 'plataforma:login' %}" method="POST" id="login">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif%}
            <div>
            <label class="admin" for="username">Username</label>
            <input type="username" name="username" id="username" placeholder="Digite seu username"  required>
            </div>
            <div>
            <label class="admin" for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha"  required>
            </div>
            <input type="submit" value="Entrar">
        </form>
        <p class="admin">Não tem uma conta? <a href="{%url 'plataforma:cadastrocolunista'%}">Cadastrar-se</a></p>
        </div>
    </main>
</body>
{% endblock %}